body {
  background-color: var(--body-background);
  min-height: 100vh;
  padding: 5rem 5rem;
  display: grid;
  place-content: center;
  gap: 2rem;
  font-size: 14px;
}

h1 {
  color: var(--highlight-text-color);
}

main {
  width: 70vw;
  display: grid;
  place-content: center;
  gap: 2rem;
}

section {
  width: 70vw;
}

.info {
  display: grid;
  gap: 0.7rem;
}

span {
  font-weight: bold;
  color: var(--highlight-text-color);
}

.form-container {
  display: grid;
  gap: 2rem;
}

form {
  display: grid;
  gap: 0.5rem;
}

input,
#search-button {
  width: 100%;
  outline: none;
  padding: 0.7rem;
  border-radius: var(--border-radius);
  font-size: 0.9em;
}

input {
  background-color: hsl(0, 0%, 97%);
  border: 1px solid var(--secondary-text-color);
}

#search-button {
  cursor: pointer;
  color: var(--body-background);
  background-color: var(--highlight-text-color);
  border: 1px solid transparent;
  box-shadow: -3px 3px 0px var(--search-border-color);
  transition: all 0.2s;
}

#search-button:not(:disabled):hover {
  background-color: var(--body-background);
  color: var(--highlight-text-color);
  border: 1px solid var(--highlight-text-color);
  box-shadow: -3px 3px 0px var(--highlight-text-color);
}

#search-button:not(:disabled):active {
  background-color: var(--primary-background);
  box-shadow: none;
  transform: translateY(3px) translateX(-3px);
}

button:disabled {
  background-color: hsl(213, 18%, 88%);
  color: hsl(215, 6%, 63%);
  cursor: auto;
}

#no-results {
  font-size: 0.8em;
  color: var(--error-color);
}

#results-container {
  border-radius: var(--border-radius);
  display: grid;
  gap: 1rem;
  transition: 0.3s;
}

.cep-info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.cep-info {
  background-color: var(--primary-background);
  padding: 0.6rem;
  border-radius: var(--border-radius);
  border: 1px dashed var(--light-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-label {
  color: var(--light-text-color);
}

nav {
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
}

nav a {
  color: var(--secondary-text-color);
  font-size: 0.8em;
}

nav a:hover {
  text-decoration: underline;
}

#searches-container {
  color: var(--light-text-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4%;
}

.searches-container-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h3 {
  color: var(--highlight-text-color);
}

#clear-searches {
  cursor: pointer;
  background-color: var(--error-color);
  border: 1px solid var(--error-color);
  color: var(--body-background);
  box-shadow: -2px 2px 0px var(--search-border-color);
  padding: 0.2rem;
  border-radius: var(--border-radius);
  transition: all 0.2s;
}

#clear-searches:hover {
  color: var(--error-color);
  background-color: var(--body-background);
  box-shadow: -2px 2px 0px var(--error-color);
  border-color: var(--error-color);
  border-radius: var(--border-radius);
}

#clear-searches:active {
  background-color: var(--primary-background);
  box-shadow: none;
  transform: translateY(2px) translateX(-2px);
}

#searches-wrapper {
  display: grid;
  gap: 0.5rem;
}

.search {
  padding: 0.5rem;
  border: 1px solid var(--search-border-color);
  border-left: 5px solid var(--search-border-color);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  transition: 0.2s;
  color: var(--highlight-text-color);
  font-weight: bold;
}

.search:hover {
  cursor: pointer;
  transform: translateX(5px);
  border-color: var(--highlight-text-color);
}

.search:hover p {
  transition: 0.2s;
  color: var(--highlight-text-color);
}

.adress {
  font-size: 0.8em;
  color: var(--secondary-text-color);
}
