body {
  background-color: var(--body-background);
  height: 100vh;
  font-size: 14px;
}

h1 {
  color: var(--highlight-text-color);
}

.info {
  display: grid;
  gap: 0.3rem;
}

span {
  font-weight: bold;
  color: var(--highlight-text-color);
}

main {
  padding: 6rem 6rem;
  display: grid;
  place-content: center;
  gap: 2rem;
}

.form-container {
  width: 100%;
  display: grid;
  gap: 2rem;
}

form {
  /* background-color: var(--primary-background); */
  padding: 1.7rem;
  border: 1px dashed var(--light-text-color);
  border-radius: var(--border-radius);
  display: grid;
  gap: 1.4rem;
}

label {
  display: grid;
  gap: 0.5rem;
}

input,
#search-button,
select {
  width: 100%;
  outline: none;
  padding: 0.4rem;
  border-radius: var(--border-radius);
  font-size: 0.9em;
}

input,
select {
  background-color: hsl(0, 0%, 97%);
  border: 1px solid var(--light-text-color);
}

option {
  background-color: hsl(0, 0%, 88%);
  border-radius: var(--border-radius);
}

button {
  cursor: pointer;
  color: var(--body-background);
  background-color: var(--highlight-text-color);
  border: 1px solid transparent;
  box-shadow: -3px 3px 0px var(--search-border-color);
  transition: all 0.3s;
}

button:not(:disabled):hover {
  background-color: var(--body-background);
  color: var(--highlight-text-color);
  border: 1px solid var(--highlight-text-color);
  box-shadow: -3px 3px 0px var(--highlight-text-color);
}

button:not(:disabled):active {
  background-color: var(--primary-background);
  box-shadow: none;
  transform: translateY(3px) translateX(-3px);
}

button:disabled {
  background-color: hsl(0, 0%, 80%);
  color: hsl(215, 6%, 63%);
  cursor: auto;
}

a {
  text-decoration: none;
}

nav a {
  color: var(--secondary-text-color);
  font-size: 0.8em;
  margin-top: 1%;
}

nav a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  gap: 1rem;
}

#results-container {
  width: 100%;
  margin-top: 4%;
  color: var(--light-text-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h3 {
  text-align: center;
  color: var(--highlight-text-color);
}

#no-results {
  color: var(--error-color);
}

#ceps-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.cep {
  padding: 0.5rem;
  border: 1px solid var(--search-border-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  transition: 0.2s;
  color: var(--text-color);
  font-weight: bold;
}

.cep:hover {
  transform: translateY(-3px);
  border-color: var(--secondary-text-color);
  box-shadow: -2px 2px 0px var(--secondary-text-color);
}

.adress {
  font-size: 0.8em;
  color: var(--secondary-text-color);
}
