:root {
  --text-color: hsl(0, 0%, 27%);
  --secondary-text-color: hsl(0, 0%, 47%);
  --section-border-color: hsl(0, 0%, 71%);
  --highlight-text-color: hsl(212, 100%, 18%);
  --highlight-color: hsl(0, 100%, 60%);
  --body-background: hsl(0, 0%, 93%);
  --primary-background: hsl(0, 0%, 87%);
  --border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

body {
  background-color: var(--body-background);
  height: 100vh;
  font-size: 14px;
}

main {
  padding: 5rem 5rem;
  display: grid;
  place-content: center;
  gap: 4rem;
}

section {
  width: 50vw;
}

.form-container {
  display: grid;
  gap: 3rem;
}

h1 {
  text-align: center;
  font-size: 1.6em;
  color: var(--secondary-text-color);
  margin-bottom: 5%;
  transition: 0.3s;
}

form {
  display: grid;
  gap: 0.5rem;
}

.info {
  display: grid;
  gap: 0.2rem;
  font-size: 0.9em;
  margin-bottom: 2%;
}

span {
  font-weight: bold;
}

input,
button {
  width: 100%;
  outline: none;
  padding: 0.7rem;
  border-radius: var(--border-radius);
  transition: 0.3s;
  font-size: 0.9em;
}

input {
  background-color: hsl(0, 0%, 97%);
  border: 1px dashed var(--secondary-text-color);
}

button {
  cursor: pointer;
  border: 1px solid var(--highlight-text-color);
  color: var(--highlight-text-color);
  font-weight: bold;
}

button:hover {
  background-color: var(--highlight-text-color);
  color: white;
}

button:disabled {
  background-color: hsl(213, 18%, 88%);
  border: 1px solid hsl(215, 6%, 63%);
  color: hsl(215, 6%, 63%);
  cursor: auto;
}

#no-results {
  font-size: 0.8em;
  color: var(--highlight-color);
}

.render-container {
  border-radius: var(--border-radius);
  display: grid;
  gap: 0.5rem;
  transition: 0.3s;
}

.cep-info-header {
  font-size: 0.9em;
  margin-bottom: 1%;
}

.cep-info {
  background-color: var(--primary-background);
  padding: 0.6rem;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  border-left: 3px solid var(--secondary-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

.cep-info p {
  font-size: 0.8em;
}

.info-label {
  color: var(--secondary-text-color);
}

.searches-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

h3 {
  font-size: 1em;
  color: var(--secondary-text-color);
  transition: 0.3s;
}

#searches-wrapper {
  display: grid;
  gap: 0.4rem;
}

.search {
  background-color: var(--primary-background);
  padding: 0.5rem;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  border-left: 3px solid var(--secondary-text-color);
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  transition: 0.2s;
}

.search:hover {
  transform: translateX(5px);
  border-left-color: var(--highlight-color);
}

.search .logradouro {
  font-size: 0.8em;
  color: var(--secondary-text-color);
}

a {
  text-decoration: none;
  font-size: 0.8em;
  color: var(--secondary-text-color);
  margin-top: 1%;
}

a:hover {
  text-decoration: underline;
}
